@{
    ViewData["Title"] = "Lista de Autores";
}

<h1>LISTA DE LIBROS REGISTRADOS</h1>


<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
        </tr>
    </thead>
    <tbody id="tabla-Libros">

    </tbody>
</table>

<script src="~/js/Index.js"></script>