@{
    ViewData["Title"] = "Lista de libros";
}

<h1>LISTA DE LIBROS REGISTRADOS</h1>

<table class="table">
    <thead>
        <tr>

            <th>Título</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="tabla-Libros">
    </tbody>
</table>

<script src="~/js/Index.js"></script>
<script src="~/js/Libros.js"></script>