@{
    ViewData["Title"] = "Registro de Libros";
}

<h1>REGISTRO DE LIBROS</h1>


<form id="form-libro">
    <div class="mb-3">
        <label for="tituloLibro" class="form-label">Título del Libro</label>
        <input type="text" class="form-control" id="tituloLibro" required>
    </div>
    <div class="mb-3">
        <label for="autorLibro" class="form-label">Selecciona un Autor</label>
        <select class="form-control" id="autorLibro" required></select>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Libro</button>
</form>

<script src="~/js/libros.js"></script>a lista de libros disponibles.</p>